<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <connectionStrings>
    <add name="PostgseSQL16" connectionString="User Id=pmi-b8307;Password=leShmev7;Host=postgresql.students.ami.nstu.ru;Database=students;Persist Security Info=False;Initial Schema=pmib8307"
      providerName="Devart.Data.PostgreSql" />
    <add name="PostgreSQL16" connectionString="User Id=pmi-b8307;Password=leShmev7;Host=postgresql.students.ami.nstu.ru;Database=students;Persist Security Info=True;Initial Schema=pmib8307"
      providerName="Devart.Data.PostgreSql" />
    <add name="studentsConnectionString" connectionString="User Id=pmi-b8307;Password=leShmev7;Host=postgresql.students.ami.nstu.ru;Database=students;Persist Security Info=True;Initial Schema=pmib8307"
      providerName="Devart.Data.PostgreSql" />
    <add name="studentsConnectionString2" connectionString="Dsn=PostgreSQL;database=students;server=postgresql.students.ami.nstu.ru;port=5432;uid=pmi-b8307;pwd=leShmev7;readonly=0;protocol=6.4;fakeoidindex=0;showoidcolumn=0;rowversioning=0;showsystemtables=0;fetch=100;socket=4096;unknownsizes=0;maxvarcharsize=254;maxlongvarcharsize=8190;debug=0;commlog=0;optimizer=1;ksqo=1;usedeclarefetch=0;textaslongvarchar=1;unknownsaslongvarchar=0;boolsaschar=1;parse=0;cancelasfreestmt=0;extrasystableprefixes=dd_"
      providerName="System.Data.Odbc" />
    <add name="studentsConnectionString3" connectionString="Dsn=PostgreSQL30;database=students;server=postgresql.students.ami.nstu.ru;uid=pmi-b8307;pwd=leShmev7;sslmode=disable;readonly=0;protocol=7.4;fakeoidindex=0;showoidcolumn=0;rowversioning=0;showsystemtables=0;fetch=100;unknownsizes=0;maxvarcharsize=255;maxlongvarcharsize=8190;debug=0;commlog=0;usedeclarefetch=0;textaslongvarchar=1;unknownsaslongvarchar=0;boolsaschar=1;parse=0;lfconversion=1;updatablecursors=1;trueisminus1=0;bi=0;byteaaslongvarbinary=1;useserversideprepare=1;lowercaseidentifier=0;d6=-101;optionalerrors=0;fetchrefcursors=0;xaopt=1"
      providerName="System.Data.Odbc" />
    <add name="studentsConnectionString4" connectionString="Dsn=PostgreSQL30;database=students;server=postgresql.students.ami.nstu.ru;uid=pmi-b8307;pwd=leShmev7;sslmode=disable;readonly=0;protocol=7.4;fakeoidindex=0;showoidcolumn=0;rowversioning=0;showsystemtables=0;fetch=100;unknownsizes=0;maxvarcharsize=255;maxlongvarcharsize=8190;debug=0;commlog=0;usedeclarefetch=0;textaslongvarchar=1;unknownsaslongvarchar=0;boolsaschar=1;parse=0;lfconversion=1;updatablecursors=1;trueisminus1=0;bi=0;byteaaslongvarbinary=1;useserversideprepare=1;lowercaseidentifier=0;d6=-101;optionalerrors=0;fetchrefcursors=0;xaopt=1"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>